{% extends "base.html" %}

{% block content %}

<br>

{% if user.is_authenticated %}
    <h3 id="add_post_heading">Add Post...</h3>

    <br><br>
    <div class="container">
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                {{ foobar|safe }}
                <button type="submit" class="btn btn-signup btn-lg">Post</button>
                <br><br>
        </div>
    </div>
{% else %}

You must be logged in to add a posts
    
{% endif %}
    

{% endblock %}