{% extends "base.html" %}

{% block content %}

<br>
{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        <h3 id="add_post_heading">Edit Post...</h3>

        <br><br>
        <div class="container">
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-signup btn-lg">Post</button>
                    <br><br>
            </div>
        </div>
        {% else %}
            Only Post creator may edit posts!
    {% endif %}
{% else %}

You must be logged in to edit posts

{% endif %}




{% endblock %}